
@import url('https://fonts.google.com/share?selection.family=Caveat:wght@400..700');
  




:root {
    --cor-de-fundo: #ff0095;
    --verde: #6FFF57;
    --branco: #04060a;
    --botao-ativo: #ffffff;
    --botao-inativo: rgba(0, 204, 255, 0.5);
    --texto-fundo: rgba(0, 255, 179, 0.3);

}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           

body {
  background-color: var(--cor-de-fundo);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
  color: var(--branco);
  font-family: "IBM Plex Sans", sans-serif;
}

.conteudo-principal{
 flex-direction: column;
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 1200px;
 width: 100%;
 margin: 0 auto;
}

.titulo-principal{
  text-align: left;
  width: 100%;
  font-size: 32px;
}

.titlo-principal-span{
  color: var(--verde);
}

.botao{
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--botao-ativo);
  border-left: 2px solid var(--botao-ativo);
  border-right: 2px solid var(--botao-ativo);
  border-top: none;
}

.botoes{
  display: block;
}


.abas-textos{

  background-color: var(--texto-fundo);
padding: 40px;
border-radius: 0 0 40px 40px;
}
@media screen and (min-width: 768px) {
  .botoes{
    display: flex;
  }

  .botao:last-child{
    border-radius: 0 40px 0 0;
  }

  .botao:first-child{
    border-radius: 40px 0 0 0;
  }


.botao.ativo{
background-color: var(--botao-ativo);]
border-bottom: 4px solid var(--verde);
}

.ativo{
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--verde);
}
